:root{
    --basecolor: #0c0d19;
    --secondcolor: #ffca2c;
    --topicFont: 'Grape Nuts', cursive;
}

*{
    font-family: "Montserrat", sans-serif;
    color: var(--basecolor);
}

p{
    font-weight: 300;
}

.heading-text{
    font-family: 'Grape Nuts', cursive;
    font-size: 25px;

    span{
        font-family: 'Grape Nuts', cursive;
        color: var(--secondcolor);
    }
}

.nav-link{
    margin: 0 10px;
    color: white;
}

.nav-link:hover{
    color: var(--secondcolor);
    font-weight: bold;
    font-size: 20px;
}

.navbar-container{
    background-color: var(--basecolor);
}

.active{
    color: var(--secondcolor) !important;
    font-weight: bold;
}

.btn{
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    font-size: 20px;
}

.intro-name{
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 90%;
    font-family: 'Grape Nuts', cursive;
}

/* intro-container */
.intro-container{
    height: 550px;
    background-image: linear-gradient(to bottom, #0c0d19, #15234c, #173784, #1c4cc0, #2e60ff);
    

    .container{
        max-height: 500px;
        padding: 20px;
        
    }

    .row{
        height: 100%;
        
    }

    .left-card{
        background-color: hsla(0, 0%, 100%, 0.2);;
        border-radius: 40px;
        height: 650px;
        backdrop-filter: blur(5px);
        text-align: center;

        p{
            color: white;
            font-size: 20px;
            font-weight: lighter;
        }

        h1{
            color: var(--secondcolor);
        }

        .btn{
            margin: 0 auto;
        }
    }

    .right-card{
        background-color: hsla(0, 0%, 100%, 0.404);;
    }

    .myImage{
        height: 100%;
        object-fit: cover ;
    }

    .btn{
        width: 150px;
    }


}

@media (max-width: 768px){
    .right-card{
        display: none;
    }
}

/* introduce-container */
.second-container{

    .content{
        height: 100%;
    }

    .intro-dsc{
        padding-left: 40px;
    }

    .icon-content{
        img{
            max-width: 40px;
            margin-right: 20px;
        }
    }

    .heading-text{
        font-weight: bold;
        color: darkorange;
        font-size: 3.5rem;
    }

    .name{
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        color: #0c0d19;
        font-size: 40px;

        span{
            color: var(--secondcolor);
        }
    }
}

@media (max-width: 768px){
    .second-image{
        height: 300px;
        object-fit: contain;
    }

    .intro-dsc{
        padding-left: 0px !important;
    }

    .content{
        align-items: center;

        h1{
            text-align: center;
        }
        
        p{
            text-align: center;
        }
    }
}

/* exercise-content */
.exercise-contianer{
    background-image: linear-gradient(to bottom, #0c0d19, #15234c, #173784, #1c4cc0, #2e60ff);
    
    h1{
        font-family: var(--topicFont);
        font-size: 60px;
    }

    img{
        height: 200px;
        object-fit: cover;
    }

    .col{
        min-width: 300px;
        max-width: 400px;
        
        .card{
            height: 100%;
        }
    }


}

/* project-container */
footer{
    .icon-contain{
        justify-self: center !important;

        img{
            max-width: 30px;
            margin-left: 20px;
        }
    }
}